.Header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color:white;
  background-color: red;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.Body {
  background-color: #353A40;
  display: flex;


}

.buttonmenu {
  background-color: #353A40;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.buttonmenu:hover {
  cursor: pointer;
}
.Pokemons {
  background-color: lightgrey;

}
.pokemon {
  background-color: #6C747E;
  padding: 50px;
  margin: 10px 10px;
  width: 50px;
  height: 50px;

}